@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Assign Role";
}
<h3>Assign Role</h3>
<form asp-asp-controller="User" asp-action="AssignRole" method="post">
    <label for="userId">UserId:</label>
    <input type="text" id="userId" name="userId" required />
    <label for="roleName">Role Name:</label>
    <input type="text" id="roleName" name="roleName" required />
    <button type="submit">Assign Role</button>
</form>